/* Write your CSS code here. */

@media screen and (min-width: 768px) {
  .container {
    min-height: 100vh;
    background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .reaction-con {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .emojiReaction {
    height: 130px;
  }
  .unordered-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .button {
    background-color: #ffffff;
    outline: none;
    border: 0;
    cursor: pointer;
  }
  .heading {
    text-align: center;
    font-size: 50px;
  }
  .love-and-support-img {
    height: 100px;
    width: 120px;
  }
  .para-suuport {
    text-align: center;
  }
  .thankyou-con {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .listed-items {
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    min-height: 100vh;
    background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .reaction-con {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .emojiReaction {
    height: 30px;
  }
  .unordered-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .button {
    background-color: #ffffff;
    outline: none;
    border: 0;
    cursor: pointer;
  }
  .heading {
    text-align: center;
    font-size: 20px;
  }
  .love-and-support-img {
    height: 40px;
    width: 50px;
  }
  .para-suuport {
    text-align: center;
  }
  .thankyou-con {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .listed-items {
    margin: 10px;
  }
}
